<a href="https://colab.research.google.com/github/eringgao/lucy_listings/blob/main/lucyslistings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Installations and Declarations

In [5]:
%pip install pandas
%pip install geopy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/eringao/Library/Python/3.9/lib/python/site-packages (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/eringao/Library/Python/3.9/lib/python/site-packages (from pandas) (1.24.1)
Requirement already satisfied: pytz>=2020.1 in /Users/eringao/Library/Python/3.9/lib/python/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/eringao/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)

[notice] A new release of pip available: 22.3 -> 23.0
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Collecting geopy
  Downloading geopy-2.3.0-py3-none-any.whl (119 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 119.8/119.8 kB 2.1 MB/s eta 0:00:00a 0:00:01
Collecting geographiclib<3,>=1.52
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.3/40.3 kB 1.3 MB/s eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.3.0

[notice] A new release of pip available: 22.3 -> 23.0
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import numpy as np
from geopy import distance
import requests
import json
import datetime
import math
import itertools

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Coding Starts Here

In [ ]:
# Use for Google Colab
df = pd.read_csv("/content/drive/MyDrive/rapid_data.csv")

print(df)

In [8]:
# Use locally
df = pd.read_csv("data/rapid_data.csv")

print(df)

    Unnamed: 0  bathrooms  bedrooms           city country currency  \
0            0        2.0         4     Pittsburgh     USA      USD
1            1        1.0         2  Mt Washington     USA      USD
2            2        1.5         3     Pittsburgh     USA      USD
3            3        2.0         4     Pittsburgh     USA      USD
4            4        1.0         1     Pittsburgh     USA      USD
5            5        1.0         3     Pittsburgh     USA      USD
6            6        1.0         2     Pittsburgh     USA      USD
7            7        3.0         5     Pittsburgh     USA      USD
8            8        1.5         2     Pittsburgh     USA      USD
9            9        2.0         3     Pittsburgh     USA      USD
10          10        2.0         3     Pittsburgh     USA      USD
11          11        1.0         2     Pittsburgh     USA      USD
12          12        1.0         4     Pittsburgh     USA      USD
13          13        2.0         3     Pittsburgh     USA      USD
14          14        2.0         3     Pittsburgh     USA      USD
15          15        1.5         3     Pittsburgh     USA      USD
16          16        1.0         2     Pittsburgh     USA      USD
17          17        1.5         2     Pittsburgh     USA      USD
18          18        1.0         4     Pittsburgh     USA      USD
19          19        1.0         2     Pittsburgh     USA      USD
20          20        1.0         2     Pittsburgh     USA      USD
21          21        1.0         1     Pittsburgh     USA      USD
22          22        1.0         2     Pittsburgh     USA      USD
23          23        1.0         3     Pittsburgh     USA      USD
24          24        1.0         2     Pittsburgh     USA      USD
25          25        1.0         1     Pittsburgh     USA      USD
26          26        2.0         2     Pittsburgh     USA      USD

    daysOnZillow homeStatus homeStatusForHDP       homeType  ... state  \
0              0   FOR_RENT         FOR_RENT      APARTMENT  ...    PA
1              0   FOR_RENT         FOR_RENT      APARTMENT  ...    PA
2              0   FOR_RENT         FOR_RENT  SINGLE_FAMILY  ...    PA
3              0   FOR_RENT         FOR_RENT  SINGLE_FAMILY  ...    PA
4              0   FOR_RENT         FOR_RENT      APARTMENT  ...    PA
5              0   FOR_RENT         FOR_RENT  SINGLE_FAMILY  ...    PA
6              0   FOR_RENT         FOR_RENT  SINGLE_FAMILY  ...    PA
7              0   FOR_RENT         FOR_RENT  SINGLE_FAMILY  ...    PA
8              0   FOR_RENT         FOR_RENT      TOWNHOUSE  ...    PA
9              0   FOR_RENT         FOR_RENT  SINGLE_FAMILY  ...    PA
10             0   FOR_RENT         FOR_RENT      APARTMENT  ...    PA
11             0   FOR_RENT         FOR_RENT      APARTMENT  ...    PA
12             0   FOR_RENT         FOR_RENT  SINGLE_FAMILY  ...    PA
13             0   FOR_RENT         FOR_RENT      APARTMENT  ...    PA
14             0   FOR_RENT         FOR_RENT      APARTMENT  ...    PA
15             0   FOR_RENT         FOR_RENT  SINGLE_FAMILY  ...    PA
16             0   FOR_RENT         FOR_RENT  SINGLE_FAMILY  ...    PA
17             0   FOR_RENT         FOR_RENT      APARTMENT  ...    PA
18             0   FOR_RENT         FOR_RENT  SINGLE_FAMILY  ...    PA
19             0   FOR_RENT         FOR_RENT  SINGLE_FAMILY  ...    PA
20             0   FOR_RENT         FOR_RENT      APARTMENT  ...    PA
21             0   FOR_RENT         FOR_RENT      APARTMENT  ...    PA
22             0   FOR_RENT         FOR_RENT      APARTMENT  ...    PA
23             0   FOR_RENT         FOR_RENT  SINGLE_FAMILY  ...    PA
24             0   FOR_RENT         FOR_RENT      TOWNHOUSE  ...    PA
25             0   FOR_RENT         FOR_RENT      APARTMENT  ...    PA
26             0   FOR_RENT         FOR_RENT  SINGLE_FAMILY  ...    PA

                    streetAddress     unit  zipcode        zpid  \
0               2353 Sidney St #2      # 2    15203  2098914984
1              441 Edgemont St #2      # 2    15211  2086781605
2                   200 S 15th St      NaN    15203    11475209
3                 5317 Forbes Ave      NaN    15217    11534025
4              4711 Maripoe St #1      # 1    15213  2059530905
5                   1625 Hybla St      NaN    15212    11604341
6             3202 Hazelhurst Ave      NaN    15227    11302681
7                4245 Parkman Ave      NaN    15213    11407517
8              1007 Galveston Ave      NaN    15233    11376515
9                 11370 Althea Rd      NaN    15235    11492124
10              333 Lehigh Ave #2      # 2    15232  2079280225
11  1465 Old Steubenville Pike #B      # B    15205  2061122184
12                223 Carnegie Pl      NaN    15208    11341130
13         5541 Beacon St FLOOR 1  Floor 1    15217  2075424395
14               6116 Stanton Ave      NaN    15206    11623060
15               2801 Larkins Way      NaN    15203    11292138
16                 637 Danbury St      NaN    15214    11498827
17            1806 Rhine St #1804   # 1804    15212  2059547162
18            4008 Woolslayer Way      NaN    15224    11514773
19            3220 1/2 Hardie Way      NaN    15213    11419823
20            514 Parallel Ave #2      # 2    15210  2059539319
21            2525 Sarah St APT 6    Apt 6    15203  2096869965
22      230 Clairmont Ave FLOOR 2  Floor 2    15229  2067564948
23          7708 Westmoreland Ave      NaN    15218    11345320
24           2507 Wedgemere St #2      # 2    15226  2100972404
25               252 Atwood St #1      # 1    15213  2080180171
26                  1315 Diana St      NaN    15212    11394607

    taxAssessedValue  zestimate  datePriceChanged  priceChange  priceReduction
0                NaN        NaN               NaN          NaN             NaN
1                NaN        NaN               NaN          NaN             NaN
2            87400.0   185600.0               NaN          NaN             NaN
3           177100.0   515100.0               NaN          NaN             NaN
4                NaN        NaN               NaN          NaN             NaN
5            64800.0   145000.0               NaN          NaN             NaN
6            82500.0   162400.0               NaN          NaN             NaN
7           354000.0   629700.0               NaN          NaN             NaN
8           123100.0   240800.0               NaN          NaN             NaN
9            47200.0   132000.0               NaN          NaN             NaN
10               NaN        NaN               NaN          NaN             NaN
11               NaN        NaN               NaN          NaN             NaN
12          156800.0   389600.0      1.675411e+12       -500.0    $500 (Feb 3)
13               NaN        NaN      1.674547e+12         75.0             NaN
14          237200.0        NaN      1.672992e+12       -100.0    $100 (Jan 6)
15          101800.0   205300.0               NaN          NaN             NaN
16           43200.0    89600.0               NaN          NaN             NaN
17               NaN        NaN               NaN          NaN             NaN
18           72400.0        NaN               NaN          NaN             NaN
19           35900.0   114800.0               NaN          NaN             NaN
20               NaN        NaN               NaN          NaN             NaN
21               NaN        NaN               NaN          NaN             NaN
22               NaN        NaN               NaN          NaN             NaN
23           22400.0   108000.0               NaN          NaN             NaN
24               NaN   160400.0               NaN          NaN             NaN
25               NaN        NaN      1.675411e+12        -50.0     $50 (Feb 3)
26           27700.0   165200.0               NaN          NaN             NaN

[27 rows x 35 columns]

In [10]:
'''
  Create an OOP structure for how we want to store all of our data.
  Example format: 

    class Listing: # abstraction?
      def get_type(self) -> str: 
        # Manual, Zillow, CMU
        pass 
      def get_housing_info(self) -> str: 
        # String data (paragraphs?) about housing
        pass
      def get_address(self) -> dict: 
        pass
      def distance_from_cmu(self) -> float: 
        pass

    class SchoolListing(Listing): 
      def __init__(self, address): 
        # Some stuff here
        self.get_type = "CMU"
        # self.distance_from_cmu 
'''

In [11]:
addresses = df.loc[:, "streetAddress"]
lat = df.loc[:, "latitude"]
longi = df.loc[:, "longitude"]
cmu_address = (40.4433, -79.944023)
distance_df = pd.DataFrame(columns = ['Address1', 'Latitude', 'Longitude'])
distance_df['Address1'] = addresses
distance_df['Latitude'] = lat
distance_df['Longitude'] = longi
print(distance_df)
walking = []
driving = []
for i in range(len(addresses)):
  d = distance.distance((distance_df.loc[i, "Latitude"], distance_df.loc[i, "Longitude"]), (cmu_address[0],cmu_address[1]))
  walking.append(d.miles)
  r = requests.get(f"""http://router.project-osrm.org/route/v1/car/{distance_df.loc[i, "Longitude"]},{distance_df.loc[i, "Latitude"]};{cmu_address[1]},{cmu_address[0]}?overview=false""")
  route_1 = json.loads(r.content)["routes"][0]
  driving.append(route_1["distance"]*0.000621371)
distance_df["Walking Distance"] = walking
distance_df["Driving Distance"] = driving
print(distance_df)

                         Address1   Latitude  Longitude
0               2353 Sidney St #2  40.429380 -79.971140
1              441 Edgemont St #2  40.422600 -79.998880
2                   200 S 15th St  40.424866 -79.983440
3                 5317 Forbes Ave  40.440155 -79.934940
4              4711 Maripoe St #1  40.455498 -79.949670
5                   1625 Hybla St  40.474262 -80.037970
6             3202 Hazelhurst Ave  40.383247 -79.965300
7                4245 Parkman Ave  40.448345 -79.957280
8              1007 Galveston Ave  40.453010 -80.017100
9                 11370 Althea Rd  40.468670 -79.832700
10              333 Lehigh Ave #2  40.456150 -79.926100
11  1465 Old Steubenville Pike #B  40.450570 -80.114400
12                223 Carnegie Pl  40.446510 -79.898950
13         5541 Beacon St FLOOR 1  40.434210 -79.928990
14               6116 Stanton Ave  40.468600 -79.918110
15               2801 Larkins Way  40.425310 -79.966675
16                 637 Danbury St  40.468822 -80.018380
17            1806 Rhine St #1804  40.464684 -79.991760
18            4008 Woolslayer Way  40.464664 -79.957400
19            3220 1/2 Hardie Way  40.431488 -79.955870
20            514 Parallel Ave #2  40.403587 -79.978990
21            2525 Sarah St APT 6  40.426945 -79.969185
22      230 Clairmont Ave FLOOR 2  40.518166 -80.021194
23          7708 Westmoreland Ave  40.422935 -79.883320
24           2507 Wedgemere St #2  40.396347 -80.020950
25               252 Atwood St #1  40.439766 -79.956350
26                  1315 Diana St  40.461582 -79.990480
                         Address1   Latitude  Longitude  Walking Distance  \
0               2353 Sidney St #2  40.429380 -79.971140          1.722332
1              441 Edgemont St #2  40.422600 -79.998880          3.225751
2                   200 S 15th St  40.424866 -79.983440          2.436547
3                 5317 Forbes Ave  40.440155 -79.934940          0.525712
4              4711 Maripoe St #1  40.455498 -79.949670          0.892737
5                   1625 Hybla St  40.474262 -80.037970          5.392646
6             3202 Hazelhurst Ave  40.383247 -79.965300          4.292837
7                4245 Parkman Ave  40.448345 -79.957280          0.780735
8              1007 Galveston Ave  40.453010 -80.017100          3.909921
9                 11370 Althea Rd  40.468670 -79.832700          6.123022
10              333 Lehigh Ave #2  40.456150 -79.926100          1.295638
11  1465 Old Steubenville Pike #B  40.450570 -80.114400          8.995203
12                223 Carnegie Pl  40.446510 -79.898950          2.386338
13         5541 Beacon St FLOOR 1  40.434210 -79.928990          1.010694
14               6116 Stanton Ave  40.468600 -79.918110          2.216478
15               2801 Larkins Way  40.425310 -79.966675          1.722539
16                 637 Danbury St  40.468822 -80.018380          4.296567
17            1806 Rhine St #1804  40.464684 -79.991760          2.916840
18            4008 Woolslayer Way  40.464664 -79.957400          1.634044
19            3220 1/2 Hardie Way  40.431488 -79.955870          1.026821
20            514 Parallel Ave #2  40.403587 -79.978990          3.302774
21            2525 Sarah St APT 6  40.426945 -79.969185          1.741657
22      230 Clairmont Ave FLOOR 2  40.518166 -80.021194          6.573919
23          7708 Westmoreland Ave  40.422935 -79.883320          3.495413
24           2507 Wedgemere St #2  40.396347 -80.020950          5.191605
25               252 Atwood St #1  40.439766 -79.956350          0.694096
26                  1315 Diana St  40.461582 -79.990480          2.754537

    Driving Distance
0           2.555264
1           5.092446
2           4.632694
3           1.310844
4           1.255604
5           7.292783
6           6.952023
7           1.173832
8           5.296566
9           7.595701
10          2.164173
11         12.796266
12          3.330114
13          1.735551
14          3.133139
15          2.303049
16          6.674581
17          4.719748
18          2.237868
19          1.557653
20          5.687782
21          2.453235
22          8.296546
23          6.142625
24          6.571620
25          1.003079
26          5.663300

In [ ]:
class Listing: 
    def __init__(self):

In [18]:
# print(type(distance_df))
print(distance_df["Address1"])

0                 2353 Sidney St #2
1                441 Edgemont St #2
2                     200 S 15th St
3                   5317 Forbes Ave
4                4711 Maripoe St #1
5                     1625 Hybla St
6               3202 Hazelhurst Ave
7                  4245 Parkman Ave
8                1007 Galveston Ave
9                   11370 Althea Rd
10                333 Lehigh Ave #2
11    1465 Old Steubenville Pike #B
12                  223 Carnegie Pl
13           5541 Beacon St FLOOR 1
14                 6116 Stanton Ave
15                 2801 Larkins Way
16                   637 Danbury St
17              1806 Rhine St #1804
18              4008 Woolslayer Way
19              3220 1/2 Hardie Way
20              514 Parallel Ave #2
21              2525 Sarah St APT 6
22        230 Clairmont Ave FLOOR 2
23            7708 Westmoreland Ave
24             2507 Wedgemere St #2
25                 252 Atwood St #1
26                    1315 Diana St
Name: Address1, dtype: object