<a href="https://colab.research.google.com/github/eringgao/lucy_listings/blob/main/lucyslistings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Installations and Declarations

In [ ]:
import pandas as pd
import numpy as np
from geopy import distance
import requests
import json
import datetime
import math
import itertools

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# TYPE_CMU = 0 
# TYPE_ZILLOW = 1 
# TYPE_MANUAL = 2

# Coding Starts Here

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/rapid_data.csv")

print(df)

    bathrooms  bedrooms           city country currency  daysOnZillow  \
0         2.0         4     Pittsburgh     USA      USD             0
1         1.0         2  Mt Washington     USA      USD             0
2         1.5         3     Pittsburgh     USA      USD             0
3         2.0         4     Pittsburgh     USA      USD             0
4         1.0         1     Pittsburgh     USA      USD             0
5         1.0         3     Pittsburgh     USA      USD             0
6         1.0         2     Pittsburgh     USA      USD             0
7         3.0         5     Pittsburgh     USA      USD             0
8         1.5         2     Pittsburgh     USA      USD             0
9         2.0         3     Pittsburgh     USA      USD             0
10        2.0         3     Pittsburgh     USA      USD             0
11        1.0         2     Pittsburgh     USA      USD             0
12        1.0         4     Pittsburgh     USA      USD             0
13        2.0         3     Pittsburgh     USA      USD             0
14        2.0         3     Pittsburgh     USA      USD             0
15        1.5         3     Pittsburgh     USA      USD             0
16        1.0         2     Pittsburgh     USA      USD             0
17        1.5         2     Pittsburgh     USA      USD             0
18        1.0         4     Pittsburgh     USA      USD             0
19        1.0         2     Pittsburgh     USA      USD             0
20        1.0         2     Pittsburgh     USA      USD             0
21        1.0         1     Pittsburgh     USA      USD             0
22        1.0         2     Pittsburgh     USA      USD             0
23        1.0         3     Pittsburgh     USA      USD             0
24        1.0         2     Pittsburgh     USA      USD             0
25        1.0         1     Pittsburgh     USA      USD             0
26        2.0         2     Pittsburgh     USA      USD             0

   homeStatus homeStatusForHDP       homeType  \
0    FOR_RENT         FOR_RENT      APARTMENT
1    FOR_RENT         FOR_RENT      APARTMENT
2    FOR_RENT         FOR_RENT  SINGLE_FAMILY
3    FOR_RENT         FOR_RENT  SINGLE_FAMILY
4    FOR_RENT         FOR_RENT      APARTMENT
5    FOR_RENT         FOR_RENT  SINGLE_FAMILY
6    FOR_RENT         FOR_RENT  SINGLE_FAMILY
7    FOR_RENT         FOR_RENT  SINGLE_FAMILY
8    FOR_RENT         FOR_RENT      TOWNHOUSE
9    FOR_RENT         FOR_RENT  SINGLE_FAMILY
10   FOR_RENT         FOR_RENT      APARTMENT
11   FOR_RENT         FOR_RENT      APARTMENT
12   FOR_RENT         FOR_RENT  SINGLE_FAMILY
13   FOR_RENT         FOR_RENT      APARTMENT
14   FOR_RENT         FOR_RENT      APARTMENT
15   FOR_RENT         FOR_RENT  SINGLE_FAMILY
16   FOR_RENT         FOR_RENT  SINGLE_FAMILY
17   FOR_RENT         FOR_RENT      APARTMENT
18   FOR_RENT         FOR_RENT  SINGLE_FAMILY
19   FOR_RENT         FOR_RENT  SINGLE_FAMILY
20   FOR_RENT         FOR_RENT      APARTMENT
21   FOR_RENT         FOR_RENT      APARTMENT
22   FOR_RENT         FOR_RENT      APARTMENT
23   FOR_RENT         FOR_RENT  SINGLE_FAMILY
24   FOR_RENT         FOR_RENT      TOWNHOUSE
25   FOR_RENT         FOR_RENT      APARTMENT
26   FOR_RENT         FOR_RENT  SINGLE_FAMILY

                                               imgSrc  ...  state  \
0   https://photos.zillowstatic.com/fp/b248d9fa8d7...  ...     PA
1   https://photos.zillowstatic.com/fp/c89f4243f58...  ...     PA
2   https://photos.zillowstatic.com/fp/53ceaaa899c...  ...     PA
3   https://photos.zillowstatic.com/fp/17e09173d09...  ...     PA
4   https://maps.googleapis.com/maps/api/staticmap...  ...     PA
5   https://photos.zillowstatic.com/fp/ff0c59895d0...  ...     PA
6   https://photos.zillowstatic.com/fp/86ddc87e310...  ...     PA
7   https://photos.zillowstatic.com/fp/1beec39a300...  ...     PA
8   https://photos.zillowstatic.com/fp/61ae6156f9b...  ...     PA
9   https://photos.zillowstatic.com/fp/833b0c10e43...  ...     PA
10  https://photos.zillowstatic.com/fp/1ad8cfb9714...  ...     PA
11  https://photos.zillowstatic.com/fp/f130072238c...  ...     PA
12  https://photos.zillowstatic.com/fp/6d26bb52993...  ...     PA
13  https://photos.zillowstatic.com/fp/0e02a715ea4...  ...     PA
14  https://photos.zillowstatic.com/fp/6bbf7ce82b4...  ...     PA
15  https://photos.zillowstatic.com/fp/fa0c8868257...  ...     PA
16  https://photos.zillowstatic.com/fp/ff150e70ee0...  ...     PA
17  https://maps.googleapis.com/maps/api/staticmap...  ...     PA
18  https://photos.zillowstatic.com/fp/44b0e96f82b...  ...     PA
19  https://maps.googleapis.com/maps/api/staticmap...  ...     PA
20  https://photos.zillowstatic.com/fp/1e352cf90f3...  ...     PA
21  https://maps.googleapis.com/maps/api/staticmap...  ...     PA
22  https://photos.zillowstatic.com/fp/b7b6d64d682...  ...     PA
23  https://photos.zillowstatic.com/fp/c00f2f807ca...  ...     PA
24  https://photos.zillowstatic.com/fp/09248a9cff7...  ...     PA
25  https://photos.zillowstatic.com/fp/b9cc8a65672...  ...     PA
26  https://photos.zillowstatic.com/fp/69fb830568e...  ...     PA

                    streetAddress     unit  zipcode        zpid  \
0               2353 Sidney St #2      # 2    15203  2098914984
1              441 Edgemont St #2      # 2    15211  2086781605
2                   200 S 15th St      NaN    15203    11475209
3                 5317 Forbes Ave      NaN    15217    11534025
4              4711 Maripoe St #1      # 1    15213  2059530905
5                   1625 Hybla St      NaN    15212    11604341
6             3202 Hazelhurst Ave      NaN    15227    11302681
7                4245 Parkman Ave      NaN    15213    11407517
8              1007 Galveston Ave      NaN    15233    11376515
9                 11370 Althea Rd      NaN    15235    11492124
10              333 Lehigh Ave #2      # 2    15232  2079280225
11  1465 Old Steubenville Pike #B      # B    15205  2061122184
12                223 Carnegie Pl      NaN    15208    11341130
13         5541 Beacon St FLOOR 1  Floor 1    15217  2075424395
14               6116 Stanton Ave      NaN    15206    11623060
15               2801 Larkins Way      NaN    15203    11292138
16                 637 Danbury St      NaN    15214    11498827
17            1806 Rhine St #1804   # 1804    15212  2059547162
18            4008 Woolslayer Way      NaN    15224    11514773
19            3220 1/2 Hardie Way      NaN    15213    11419823
20            514 Parallel Ave #2      # 2    15210  2059539319
21            2525 Sarah St APT 6    Apt 6    15203  2096869965
22      230 Clairmont Ave FLOOR 2  Floor 2    15229  2067564948
23          7708 Westmoreland Ave      NaN    15218    11345320
24           2507 Wedgemere St #2      # 2    15226  2100972404
25               252 Atwood St #1      # 1    15213  2080180171
26                  1315 Diana St      NaN    15212    11394607

    taxAssessedValue  zestimate  datePriceChanged  priceChange  priceReduction
0                NaN        NaN               NaN          NaN             NaN
1                NaN        NaN               NaN          NaN             NaN
2            87400.0   185600.0               NaN          NaN             NaN
3           177100.0   515100.0               NaN          NaN             NaN
4                NaN        NaN               NaN          NaN             NaN
5            64800.0   145000.0               NaN          NaN             NaN
6            82500.0   162400.0               NaN          NaN             NaN
7           354000.0   629700.0               NaN          NaN             NaN
8           123100.0   240800.0               NaN          NaN             NaN
9            47200.0   132000.0               NaN          NaN             NaN
10               NaN        NaN               NaN          NaN             NaN
11               NaN        NaN               NaN          NaN             NaN
12          156800.0   389600.0      1.675411e+12       -500.0    $500 (Feb 3)
13               NaN        NaN      1.674547e+12         75.0             NaN
14          237200.0        NaN      1.672992e+12       -100.0    $100 (Jan 6)
15          101800.0   205300.0               NaN          NaN             NaN
16           43200.0    89600.0               NaN          NaN             NaN
17               NaN        NaN               NaN          NaN             NaN
18           72400.0        NaN               NaN          NaN             NaN
19           35900.0   114800.0               NaN          NaN             NaN
20               NaN        NaN               NaN          NaN             NaN
21               NaN        NaN               NaN          NaN             NaN
22               NaN        NaN               NaN          NaN             NaN
23           22400.0   108000.0               NaN          NaN             NaN
24               NaN   160400.0               NaN          NaN             NaN
25               NaN        NaN      1.675411e+12        -50.0     $50 (Feb 3)
26           27700.0   165200.0               NaN          NaN             NaN

[27 rows x 34 columns]

In [ ]:
'''
  Create an OOP structure for how we want to store all of our data.
  Example format: 
'''
class Listing: # abstraction?
  def get_type(self) -> str: 
    # Manual, Zillow, CMU
    pass 
  def get_housing_info(self) -> str: 
    # String data (paragraphs?) about housing
    pass
  def get_address(self) -> dict: 
    pass
  def distance_from_cmu(self) -> float: 
    pass

class SchoolListing(Listing): 
  def __init__(self, address): 
    # Some stuff here
    self.get_type = "CMU"
    # self.distance_from_cmu

In [ ]:
addresses = df.loc[:, "streetAddress"]
lat = df.loc[:, "latitude"]
longi = df.loc[:, "longitude"]
cmu_address = (40.4433, -79.944023)
distance_df = pd.DataFrame(columns = ['Address1', 'Latitude', 'Longitude'])
distance_df['Address1'] = addresses
distance_df['Latitude'] = lat
distance_df['Longitude'] = longi
print(distance_df)
walking = []
driving = []
for i in range(len(addresses)):
  d = distance.distance((distance_df.loc[i, "Latitude"], distance_df.loc[i, "Longitude"]), (cmu_address[0],cmu_address[1]))
  walking.append(d.miles)
  r = requests.get(f"""http://router.project-osrm.org/route/v1/car/{distance_df.loc[i, "Longitude"]},{distance_df.loc[i, "Latitude"]};{cmu_address[1]},{cmu_address[0]}?overview=false""")
  route_1 = json.loads(r.content)["routes"][0]
  driving.append(route_1["distance"]*0.000621371)
distance_df["Walking Distance"] = walking
distance_df["Driving Distance"] = driving
print(distance_df)

                         Address1   Latitude  Longitude
0               2353 Sidney St #2  40.429380 -79.971140
1              441 Edgemont St #2  40.422600 -79.998880
2                   200 S 15th St  40.424866 -79.983440
3                 5317 Forbes Ave  40.440155 -79.934940
4              4711 Maripoe St #1  40.455498 -79.949670
5                   1625 Hybla St  40.474262 -80.037970
6             3202 Hazelhurst Ave  40.383247 -79.965300
7                4245 Parkman Ave  40.448345 -79.957280
8              1007 Galveston Ave  40.453010 -80.017100
9                 11370 Althea Rd  40.468670 -79.832700
10              333 Lehigh Ave #2  40.456150 -79.926100
11  1465 Old Steubenville Pike #B  40.450570 -80.114400
12                223 Carnegie Pl  40.446510 -79.898950
13         5541 Beacon St FLOOR 1  40.434210 -79.928990
14               6116 Stanton Ave  40.468600 -79.918110
15               2801 Larkins Way  40.425310 -79.966675
16                 637 Danbury St  40.468822 -80.018380
17            1806 Rhine St #1804  40.464684 -79.991760
18            4008 Woolslayer Way  40.464664 -79.957400
19            3220 1/2 Hardie Way  40.431488 -79.955870
20            514 Parallel Ave #2  40.403587 -79.978990
21            2525 Sarah St APT 6  40.426945 -79.969185
22      230 Clairmont Ave FLOOR 2  40.518166 -80.021194
23          7708 Westmoreland Ave  40.422935 -79.883320
24           2507 Wedgemere St #2  40.396347 -80.020950
25               252 Atwood St #1  40.439766 -79.956350
26                  1315 Diana St  40.461582 -79.990480
                         Address1   Latitude  Longitude  Walking Distance  \
0               2353 Sidney St #2  40.429380 -79.971140          1.722332
1              441 Edgemont St #2  40.422600 -79.998880          3.225751
2                   200 S 15th St  40.424866 -79.983440          2.436547
3                 5317 Forbes Ave  40.440155 -79.934940          0.525712
4              4711 Maripoe St #1  40.455498 -79.949670          0.892737
5                   1625 Hybla St  40.474262 -80.037970          5.392646
6             3202 Hazelhurst Ave  40.383247 -79.965300          4.292837
7                4245 Parkman Ave  40.448345 -79.957280          0.780735
8              1007 Galveston Ave  40.453010 -80.017100          3.909921
9                 11370 Althea Rd  40.468670 -79.832700          6.123022
10              333 Lehigh Ave #2  40.456150 -79.926100          1.295638
11  1465 Old Steubenville Pike #B  40.450570 -80.114400          8.995203
12                223 Carnegie Pl  40.446510 -79.898950          2.386338
13         5541 Beacon St FLOOR 1  40.434210 -79.928990          1.010694
14               6116 Stanton Ave  40.468600 -79.918110          2.216478
15               2801 Larkins Way  40.425310 -79.966675          1.722539
16                 637 Danbury St  40.468822 -80.018380          4.296567
17            1806 Rhine St #1804  40.464684 -79.991760          2.916840
18            4008 Woolslayer Way  40.464664 -79.957400          1.634044
19            3220 1/2 Hardie Way  40.431488 -79.955870          1.026821
20            514 Parallel Ave #2  40.403587 -79.978990          3.302774
21            2525 Sarah St APT 6  40.426945 -79.969185          1.741657
22      230 Clairmont Ave FLOOR 2  40.518166 -80.021194          6.573919
23          7708 Westmoreland Ave  40.422935 -79.883320          3.495413
24           2507 Wedgemere St #2  40.396347 -80.020950          5.191605
25               252 Atwood St #1  40.439766 -79.956350          0.694096
26                  1315 Diana St  40.461582 -79.990480          2.754537

    Driving Distance
0           2.555264
1           5.092446
2           4.632694
3           1.310844
4           1.255604
5           7.292783
6           6.952023
7           1.173832
8           5.296566
9           7.595701
10          2.164173
11         12.796266
12          3.330114
13          1.735551
14          3.133139
15          2.303049
16          6.674581
17          4.719748
18          2.237868
19          1.557653
20          5.687782
21          2.453235
22          8.296546
23          6.142625
24          6.571620
25          1.003079
26          5.663300