<a href="https://colab.research.google.com/github/eringgao/lucy_listings/blob/main/lucyslistings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Installations and Declarations

In [34]:
import pandas as pd
import numpy as np
from geopy import distance
import requests
import json
import datetime
import math
import itertools
import json
from abc import ABC, abstractmethod

# Data Processsing

In [35]:
df = pd.read_csv("Data/rapid_data.csv")
cmu_df = pd.read_csv("Data/CMU_listing_data.csv")

df = df.drop(columns = ["currency", "daysOnZillow", "homeStatusForHDP", "zpid", "datePriceChanged", "priceChange", "priceReduction", "taxAssessedValue", "isFeatured", "isNonOwnerOccupied", "priceForHDP", "shouldHighlight", "homeStatus", "isPreforeclosureAuction", "isPremierBuilder", "isZillowOwned", "isRentalWithBasePrice", "isUnmappable"])

In [36]:
'''
  Create an OOP structure for how we want to store all of our data.
  Example format: 
'''
class Listing: # abstraction?
  def get_type(self) -> str: 
    # Manual, Zillow, CMU
    pass 
  def get_housing_info(self) -> str: 
    # String data (paragraphs?) about housing
    pass
  def get_address(self) -> dict: 
    pass
  def distance_from_cmu(self) -> float: 
    pass

class SchoolListing(Listing): 
  def __init__(self, address): 
    # Some stuff here
    self.get_type = "CMU"
    # self.distance_from_cmu

In [37]:
addresses = df.loc[:, "streetAddress"]
city = df.loc[:, "city"]
state = df.loc[:, "state"]
house_type = df.loc[:, "homeType"]
lat = df.loc[:, "latitude"]
longi = df.loc[:, "longitude"]
price = df.loc[:, "price"]
zip = df.loc[:, "zipcode"]
cmu_address = (40.4433, -79.944023)
distance_df = pd.DataFrame(columns = ['addr', 'Latitude', 'Longitude'])

distance_df['addr'] = addresses
distance_df['city'] = city
distance_df['state'] = state
distance_df['house_type'] = house_type
distance_df['Latitude'] = lat
distance_df['Longitude'] = longi
distance_df['price'] = price
distance_df['zip'] = zip

In [38]:
walking = []
driving = []
for i in range(len(addresses)):
  d = distance.distance((distance_df.loc[i, "Latitude"], distance_df.loc[i, "Longitude"]), (cmu_address[0],cmu_address[1]))
  walking.append(d.miles)
  r = requests.get(f"""http://router.project-osrm.org/route/v1/car/{distance_df.loc[i, "Longitude"]},{distance_df.loc[i, "Latitude"]};{cmu_address[1]},{cmu_address[0]}?overview=false""")
  route_1 = json.loads(r.content)["routes"][0]
  driving.append(route_1["distance"]*0.000621371)
distance_df["walk"] = walking
distance_df["drive"] = driving

In [39]:
distance_df = pd.read_csv('data/distance_df.csv')
print(distance_df)

    Unnamed: 0                           addr   Latitude  Longitude  \
0            0              2353 Sidney St #2  40.429380 -79.971140
1            1             441 Edgemont St #2  40.422600 -79.998880
2            2                  200 S 15th St  40.424866 -79.983440
3            3                5317 Forbes Ave  40.440155 -79.934940
4            4             4711 Maripoe St #1  40.455498 -79.949670
5            5                  1625 Hybla St  40.474262 -80.037970
6            6            3202 Hazelhurst Ave  40.383247 -79.965300
7            7               4245 Parkman Ave  40.448345 -79.957280
8            8             1007 Galveston Ave  40.453010 -80.017100
9            9                11370 Althea Rd  40.468670 -79.832700
10          10              333 Lehigh Ave #2  40.456150 -79.926100
11          11  1465 Old Steubenville Pike #B  40.450570 -80.114400
12          12                223 Carnegie Pl  40.446510 -79.898950
13          13         5541 Beacon St FLOOR 1  40.434210 -79.928990
14          14               6116 Stanton Ave  40.468600 -79.918110
15          15               2801 Larkins Way  40.425310 -79.966675
16          16                 637 Danbury St  40.468822 -80.018380
17          17            1806 Rhine St #1804  40.464684 -79.991760
18          18            4008 Woolslayer Way  40.464664 -79.957400
19          19            3220 1/2 Hardie Way  40.431488 -79.955870
20          20            514 Parallel Ave #2  40.403587 -79.978990
21          21            2525 Sarah St APT 6  40.426945 -79.969185
22          22      230 Clairmont Ave FLOOR 2  40.518166 -80.021194
23          23          7708 Westmoreland Ave  40.422935 -79.883320
24          24           2507 Wedgemere St #2  40.396347 -80.020950
25          25               252 Atwood St #1  40.439766 -79.956350
26          26                  1315 Diana St  40.461582 -79.990480

             city state     house_type  price    zip      walk      drive  \
0      Pittsburgh    PA      APARTMENT   2700  15203  1.722332   2.555264
1   Mt Washington    PA      APARTMENT   1200  15211  3.225751   5.092446
2      Pittsburgh    PA  SINGLE_FAMILY   1500  15203  2.436547   4.632694
3      Pittsburgh    PA  SINGLE_FAMILY   3760  15217  0.525712   1.310844
4      Pittsburgh    PA      APARTMENT    850  15213  0.892737   1.255604
5      Pittsburgh    PA  SINGLE_FAMILY   1100  15212  5.392646   7.292783
6      Pittsburgh    PA  SINGLE_FAMILY   1290  15227  4.292837   6.952023
7      Pittsburgh    PA  SINGLE_FAMILY   4250  15213  0.780735   1.173832
8      Pittsburgh    PA      TOWNHOUSE   1500  15233  3.909921   5.296566
9      Pittsburgh    PA  SINGLE_FAMILY   1400  15235  6.123022   7.595701
10     Pittsburgh    PA      APARTMENT   2995  15232  1.295638   2.164173
11     Pittsburgh    PA      APARTMENT   1250  15205  8.995203  12.796266
12     Pittsburgh    PA  SINGLE_FAMILY   2500  15208  2.386338   3.330114
13     Pittsburgh    PA      APARTMENT   2475  15217  1.010694   1.735551
14     Pittsburgh    PA      APARTMENT   1880  15206  2.216478   3.133139
15     Pittsburgh    PA  SINGLE_FAMILY   1650  15203  1.722539   2.303049
16     Pittsburgh    PA  SINGLE_FAMILY   1300  15214  4.296567   6.674581
17     Pittsburgh    PA      APARTMENT    899  15212  2.916840   4.719748
18     Pittsburgh    PA  SINGLE_FAMILY   1895  15224  1.634044   2.237868
19     Pittsburgh    PA  SINGLE_FAMILY    950  15213  1.026821   1.557653
20     Pittsburgh    PA      APARTMENT   1350  15210  3.302774   5.687782
21     Pittsburgh    PA      APARTMENT    850  15203  1.741657   2.453235
22     Pittsburgh    PA      APARTMENT    900  15229  6.573919   8.296546
23     Pittsburgh    PA  SINGLE_FAMILY   1135  15218  3.495413   6.142625
24     Pittsburgh    PA      TOWNHOUSE   1000  15226  5.191605   6.571620
25     Pittsburgh    PA      APARTMENT    925  15213  0.694096   1.003079
26     Pittsburgh    PA  SINGLE_FAMILY   1250  15212  2.754537   5.663300

   list_type
0     Zillow
1     Zillow
2     Zillow
3     Zillow
4     Zillow
5     Zillow
6     Zillow
7     Zillow
8     Zillow
9     Zillow
10    Zillow
11    Zillow
12    Zillow
13    Zillow
14    Zillow
15    Zillow
16    Zillow
17    Zillow
18    Zillow
19    Zillow
20    Zillow
21    Zillow
22    Zillow
23    Zillow
24    Zillow
25    Zillow
26    Zillow

# OOP Structuring

In [40]:
distance_df = pd.read_csv('data/distance_df.csv')

In [41]:
class Listing(ABC): # abstraction?
  def __init__(self, addr_dict, price, walk_time=None, drive_dist=None, h_type=None, description=None): 
    self.address = addr_dict
    self.house_type = h_type 
    self.walk = walk_time
    self.drive = drive_dist
    self.price = price
    self.description = description

  def get_housing_info(self): 
    return self.housing_info

  def update_housing_info(self, new_info): 
    # pass
    self.housing_info = new_info

  def get_address(self): 
    return self.address

  def get_drive_distance(self): 
    return self.drive

  @abstractmethod
  def get_list_type(self): 
    pass


class ZillowListing(Listing): 
  def __init__(self, addr_dict, price, walk_time=None, drive_dist=None, h_type=None, description=None, zlink=None): 
    super().__init__(addr_dict, price, walk_time=None, drive_dist=None, h_type=None, description=None)
    self.zillow_link = zlink

  def get_list_type(self): 
    return "Zillow"
  
  def get_zillow_link(self):
    return self.zillow_link

  def update_zillow_link(self, new_link):
    self.zillow_link = new_link

In [42]:
zill_listings = [ZillowListing({'addr':row.addr, 'city':row.city, 'state':row.state, 'zipcode':row.zip}, row.price, row.walk, row.drive, row.house_type) for _, row in distance_df.iterrows()]

In [43]:

class CMUListing(Listing):
    def __init__(self, addr_dict, grade, building_name, room_type, bathroom_type, price, ac):
        super().__init__(addr_dict, price)
        self.building_name = building_name
        self.grade = grade
        self.room_type = room_type
        self.bathroom_type = bathroom_type
        self.price = price
        self.ac = ac   
    def get_list_type(self):
        return "CMU On-Campus"
    def get_grade(self):
        return self.grade
    
class ManualListing(Listing):
    def __init__(self, first_name, last_name, contact, availability, addr_dict, bathrooms, bedrooms, home_type):
        super().__init__(addr_dict, price)
        self.first_name = first_name
        self.last_name = last_name
        self.contact = contact
        self.availability = availability 
        self.bathrooms = bathrooms
        self.bedrooms = bedrooms
        self.home_type = home_type
    def get_list_type(self):
        return "User Posting"

In [44]:
df_cmu = pd.read_csv("Data/CMU_listing_data.csv")
address = []
cities = []
states = []
zipcodes = []
for i in df_cmu.loc[:, "Address"]:
    if(i == "Corner of Morewood Avenue and Forbes Avenue"):
        i = "1065 Morewood Ave, Pittsburgh, PA 15213"
    if(i == "Margaret Morrison Corridor"):
        i = "5143 Forbes Ave, Pittsburgh, PA 15213"
    splits = i.split(',')
    address.append(splits[0])
    cities.append(splits[1])
    states.append(splits[2].split(" ")[0])
    zipcodes.append(splits[2].split(" ")[1])
cmu_listings = []
i = 0
for _, row in df_cmu.iterrows():
    cmu_listings.append(CMUListing({'addr':address[i], 'city':cities[i], 'state':states[i], 'zipcode':zipcodes[i]}, row.For, row.Building, row.Room, row.Bathroom, row.Cost, row.AC))
    i+=1
for listing in cmu_listings: 
  print(listing.get_grade())

Freshman
Freshman
Freshman
Freshman
Freshman
Freshman
Freshman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Freshman
Freshman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Freshman
Freshman
Freshman
Freshman
Freshman
All
All
All
Freshman
Freshman
Freshman
Freshman
Freshman
Freshman
Upperclassman
Upperclassman
Freshman
Freshman
Freshman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Freshman
Freshman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Freshman
Freshman
Freshman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Upperclassman
Upperclassman

In [49]:
cmu_jstr = json.dumps([ob.__dict__ for ob in cmu_listings], indent=4)
zil_jstr = json.dumps([ob.__dict__ for ob in zill_listings], indent=4)
# f = open('/Users/margarethe/lucy_listings/data/cmu_list.json', 'w')
# f.write(cmu_jstr)
# f.close()